body,body * {
	font-family: "Trebuchet MS", Arial, Sans;
}

body {
	background-color: #242424;
}

h2 {
	font-size: 18px;
	padding: 2px;
	margin: 2px;
	text-transform: uppercase;
}

hr {
	display: none;
}

.KRestConfig {
	width: 980px;
	min-height: 700px;
	border-radius: 5px 5px 5px 5px;
	padding: 10px;
	background-color: #ffffff;
	margin: 0 auto !important;
}

.KRestConfigTitle {
	float: left;
	clear: both;
}

.KRestConfigTitle h1 {
	font-size: 28px;
	float: left;
	margin-right: 20px;
	margin-top: 50px;
}

.KRestConfigTitle .KInput {
	max-width: 800px !important;
	width: 800px !important;
}

.KRestConfigTitle .KInput input {
	width: 560px !important;
}

.KRestConfigTitle .KLabelContainer {
	font-weight: bold !important;
	font-size: 16px !important;
	width: 220px !important;
	max-width: 220px !important;
}

.KRestConfigOperationSelect {
	max-width: 600px !important;
	float: left;
	background-color: transparent !important;
	margin-top: 10px;
}

.KRestConfigOperationSelect select {
	border: 2px solid #242424;
	margin-top: 2px;
	font-size: 28px !important;
	background-color: #ffffff;
	color: #000000;
	padding: 0px !important;
	max-width: 480px;
}

.KRestConfigContent {
	width: 980px;
	float: left;
	clear: both;
}

.KForm,.KRestEditPanel, .KRestConfigSchema,.KRestConfigRelation {
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
	background-color: #eeeeee;
	border: 1px solid #242424;
	width: 470px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}

.KRestConfigEditSelected {
	color: #FFFFFF;
	border-radius: 5px 5px 0px 0px !important;
	background-color: #242424 !important;
	border: 1px solid #242424 !important;
	margin-bottom: 0px !important;
	height: 78px !important;
}

.KRestConfigEditSelected * {
	color: #FFFFFF !important;
	background-color: #242424 !important;
}

.KRestConfigSchema,.KRestConfigRelation {
	width: 953px !important;
	border-radius: 0px 0px 5px 5px !important;
	border: 3px solid #242424 !important;
}

.KRestConfigSchema .KForm, .KRestConfigRelation .KForm {
	width: 940px !important;
}

.KRestConfigSchema .KForm .KCombo, .KRestConfigSchema .KForm .KInput, .KRestConfigRelation .KForm .KCombo, .KRestConfigRelation .KForm .KInput {
	max-width: 920px !important;
}

.KRestConfigSchema .KCombo, .KRestConfigRelation .KCombo {
	max-width: 920px !important;
}

.KRestConfigSchema,.KRestConfigRelation {
	margin-right: 8px;
}

.KForm fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.KLayeredPanelPaneTitle {
	background-color: #242424;
	border: 1px solid #000000;
	border-radius: 5px 5px 5px 5px;
	padding: 5px;
	color: #ffffff;
	cursor: pointer;
}

.KLayeredPanelPane {
	margin-bottom: 5px;
}

.KRestConfigForm .KForm {
	margin-top: 10px !important;
}

.KCombo,.KInput {
	border-radius: 5px 5px 5px 5px;
	max-width: 445px;
	padding: 5px;
	background-color: #eeeeee;
}

.KRestConfigSchema .KCombo, .KRestConfigSchema .KInput, .KRestConfigRelation .KCombo, .KRestConfigRelation .KInput {
	width: 800px !important;
}

.KInputHidden {
	display: none !important;
}

.KLabelContainer {
	padding-top: 4px;
	font-size: 14px;
	float: left;
	min-width: 180px;
	max-width: 180px;
	text-transform: uppercase;
}

.KRadioLabelOption {
	min-width: 10px !important;
	margin-left: 5px;
}

.KInputContainer {
	font-size: 18px;
	float: left;
}

.KInputContainer input,.KInputContainer select,.KInputContainer textarea {
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #242424;
	font-size: 16px;
	float: left;
	min-width: 250px;
	background-color: #ffffff;
	color: #000000;
}

.KInputContainer textarea {
	min-height: 150px;
	max-width: 250px;
}

.KRadioContainer input {
	min-width: 50px !important;
}

.KRestConfigSchema .KInputContainer input, .KRestConfigRelation .KInputContainer input {
	width: 600px !important;
}

.KRestConfigSchema .KInputContainer textarea, .KRestConfigRelation .KInputContainer textarea {
	width: 600px !important;
	max-width: 600px !important;
}

.KComboContainer button {
	background-color: #242424;
	border: 1px solid #000000;
	border-radius: 0px 5px 5px 0px;
	background-image: url("/images/drop_bg.png");
	background-position: center center;
	background-repeat: no-repeat;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	height: 24px;
	width: 25px;
}

.KComboContainer input {
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #242424;
	font-size: 16px;
	float: left;
	min-width: 230px;
	background-color: #ffffff;
	color: #000000;
}

.KRestConfigSchema .KComboContainer input, .KRestConfigRelation .KComboContainer input {
	width: 580px !important;
}

.KComboOption,.KComboOption * {
	cursor: pointer;
}

.KComboOptionOver,.KComboOptionOver * {
	color: #ffffff;
	background-color: #000000;
	cursor: pointer;
}

.KComboOptionsPanel {
	margin-left: 190px;
	margin-top: 29px;
	border: 1px solid #242424;
	font-size: 16px;
	min-width: 230px;
	background-color: #ffffff;
	color: #000000;
	border-radius: 0 !important;
	overflow: auto;
	max-height: 300px;
}

.KInputErrorArea {
	font-size: 10px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	color: #ff0000;
}

.KButton {
	float: right;
}

.KButton button {
	border-radius: 5px 5px 5px 5px;
	margin: 10px 0px 0px 600px;
	min-width: 100px;
	font-size: 20px;
	font-weigth: bold;
	background-color: #242424;
	color: #ffffff;
	border: 1px solid #000000;
}

.KSubmitContainer {
	float: right !important;
}

.KSubmit {
	border-radius: 5px 5px 5px 5px;
	margin: 10px 0px 0px 0px;
	min-width: 100px;
	font-size: 20px;
	font-weigth: bold;
	background-color: #242424;
	color: #ffffff;
	border: 1px solid #000000;
}

.KWidgetDisableOverlay {
	opacity: 0.5;
	background-color: #444444;
}