body,body * {
	font-family: "Trebuchet MS", Arial, Sans;
}

body {
	background-color: #242424;
}

h2 {
	font-size: 18px;
	padding: 2px;
	margin: 2px;
	text-transform: uppercase;
}

hr {
	display: none;
}

.KRestClient {
	width: 951px;
	min-height: 700px;
	border-radius: 5px 5px 5px 5px;
	padding: 10px;
	background-color: #ffffff;
	margin: 0 auto !important;
}

.KRestClientTitle {
	float: left;
	clear: both;
}

.KRestClientTitle h1 {
	font-size: 28px;
	float: left;
	margin-right: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.KRestClientTitle .KInput {
	max-width: 800px !important;
	width: 800px !important;
}

.KRestClientTitle .KInput input {
	width: 560px !important;
}

.KRestClientTitle .KLabelContainer {
	font-weight: bold !important;
	font-size: 16px !important;
	width: 220px !important;
	max-width: 220px !important;
}

.KRestClientOperationSelect {
	max-width: 600px !important;
	float: left;
	background-color: transparent !important;
	margin-top: 10px;
}

.KRestClientOperationSelect input {
	border: 2px solid #242424;
	margin-top: 2px;
	font-size: 28px !important;
	background-color: #ffffff;
	color: #000000;
	padding: 0px !important;
	max-width: 480px;
}

.KRestClientOperationSelect button {
	margin-top: 2px !important;
	height: 36px !important;
	width: 35px !important;
}

.KRestClientOperationSelectPanel {
	margin-left: 9px !important;
	margin-top: 42px !important;
}

.KRestClientContent {
	width: 960px;
	float: left;
	clear: both;
}

.KForm,.KRestEditPanel,.KRestClientSchema {
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
	background-color: #eeeeee;
	border: 1px solid #242424;
	width: 457px;
	margin-right: 5px;
	float: left;
}

.KRestClientSchema {
	width: 469px !important;
	margin-right: 0px;
	margin-top: 10px !important;
}

.KForm fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.KLayeredPanelPaneTitle {
	background-color: #242424;
	border: 1px solid #000000;
	border-radius: 5px 5px 5px 5px;
	padding: 5px;
	color: #ffffff;
	cursor: pointer;
}

.KLayeredPanelPane {
	margin-bottom: 5px;
}

.KRestClientForm .KForm {
	margin-top: 10px !important;
}

.KRestClientForm .KRestClientFormContent .Separator {
	display: block !important;
	width: 456px !important;
	border-bottom: 1px solid #242424;
	margin-top: 10px;
	margin-bottom: 20px;
}

.KCombo,.KInput {
	border-radius: 5px 5px 5px 5px;
	max-width: 445px;
	padding: 5px;
	background-color: #eeeeee;
}

.KLabelContainer {
	padding-top: 4px;
	font-size: 14px;
	float: left;
	min-width: 180px;
	max-width: 180px;
	text-transform: uppercase;
}

.KRadioLabelOption {
	min-width: 10px !important;
	margin-left: 5px;
}

.KInputContainer {
	font-size: 18px;
	float: left;
}

.KInputContainer input,.KInputContainer select,.KInputContainer textarea {
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #242424;
	font-size: 16px;
	float: left;
	min-width: 250px;
	background-color: #ffffff;
	color: #000000;
}

.KInputContainer textarea {
	min-height: 150px;
	max-width: 250px;
}

.KRadioContainer input {
	min-width: 50px !important;
}

.KComboContainer button {
	background-color: #242424;
	border: 1px solid #000000;
	border-radius: 0px 5px 5px 0px;
	background-image: url("/images/drop_bg.png");
	background-position: center center;
	background-repeat: no-repeat;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	height: 24px;
	width: 25px;
}

.KComboContainer input {
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #242424;
	font-size: 16px;
	float: left;
	min-width: 230px;
	background-color: #ffffff;
	color: #000000;
}

.KComboOption,.KComboOption * {
	cursor: pointer;
}

.KComboOptionOver,.KComboOptionOver * {
	color: #ffffff;
	background-color: #000000;
	cursor: pointer;
}

.KComboOptionsPanel {
	margin-left: 190px;
	margin-top: 29px;
	border: 1px solid #242424;
	font-size: 16px;
	min-width: 230px;
	background-color: #ffffff;
	color: #000000;
	border-radius: 0 !important;
	overflow: auto;
	max-height: 300px;
}

.KInputErrorArea {
	font-size: 10px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	color: #ff0000;
}

.KButton {
	float: right;
}

.KButton button {
	border-radius: 5px 5px 5px 5px;
	margin: 10px 10px 0px 600px;
	min-width: 100px;
	font-size: 20px;
	font-weigth: bold;
	background-color: #242424;
	color: #ffffff;
	border: 1px solid #000000;
}

.KSubmitContainer {
	float: right !important;
}

.KSubmit {
	border-radius: 5px 5px 5px 5px;
	margin: 10px 0px 0px 0px;
	min-width: 100px;
	font-size: 20px;
	font-weigth: bold;
	background-color: #242424;
	color: #ffffff;
	border: 1px solid #000000;
}

.KWidgetDisableOverlay {
	opacity: 0.5;
	background-color: #444444;
}